<div fxLayout="row" fxLayoutAlign="center cetner">
  <mat-card class="main-card">
    <mat-card-header>
      <app-display [balance]="balance"></app-display>
    </mat-card-header>
    <mat-card-subtitle>
      Ассортимент товаров:
    </mat-card-subtitle>
    <mat-card-content fxLayoutWrap="wrap" fxLayout="row">
      <app-product *ngFor="let product of products" [product]="product">
      </app-product>
      <br>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Сдача</button>
      <app-wallet></app-wallet>
      <app-wallet-vm></app-wallet-vm>
    </mat-card-actions>
  </mat-card>
</div>
