<div fxLayout="row" fxLayoutAlign="center cetner">
  <mat-card class="main-card">
    <mat-card-header>
      <app-display [balance]="balance"></app-display>
    </mat-card-header>
    <mat-card-subtitle>
      Ассортимент товаров:
    </mat-card-subtitle>
    <mat-card-content fxLayoutWrap="wrap" fxLayout="row">
      <app-product *ngFor="let product of products" [product]="product">
      </app-product>
      <br>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Сдача</button>
      <br>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Кошелек:</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <app-wallet *ngFor="let coin of userCoinList" [coin]="coin"></app-wallet>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>VM:</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <app-wallet-vm *ngFor="let coin of vmCoinList" [coin]="coin"></app-wallet-vm>
        </mat-card-actions>
      </mat-card>
      <button mat-raised-button color="warn">Сбросить данные</button>
      <button mat-raised-button color="warn">Ограбить</button>
    </mat-card-actions>
  </mat-card>
</div>
